.item {
    border: none;
    border-bottom: 1px solid #FFFFFF;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    background-color: transparent;
}

.titleAndButton {
    padding: 26px 0 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemTitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #FFFFFF;
}

.button {
    border: none;
    color: #FFFFFF;
    padding: 0 1px 0 0;
    background: none;
    height: 25px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.7s ease;
}

.buttonActive {
    transform: rotate(45deg);
}


.description {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: #FFFFFF;
    padding: 0 ;
    box-sizing: border-box;
    max-height: 0;
    overflow: hidden;
    transition: all 0.7s ease;
}

.visible {
    padding: 3px 0 18px;
    display: block;
    max-height: 250px;
}

@media all and (min-width: 374px) and (max-width: 767px) {
    .titleAndButton {
        gap: 10px;
    }
}

@media all and (max-width: 374px) {
    .titleAndButton {
        gap: 10px;
    }
}